<p>Hi <%= @user.first_name %>,</p>
<p>
  As this primary season draws to a close, BernieBNB has fulfilled its purpose supporting the
  wonderful people of this political movement. Thanks to you, we have been able to connect
  thousands of volunteers and supporters across America. The revolution lives on and we remain
  supporters of Bernie's cause, but there is no need for a home-sharing service at this time.
</p>

<p>
  As of Sunday 6/26 (tomorrow), BernieBNB will be going into hibernation mode, until our
  services are needed again. We encourage everyone to stay connected and to keep pushing for
  Senator Sanders and the values he has come to represent. At the end of this email, you will
  find links to other platforms connecting Bernie supporters. Thank you so much for your
  continued support to this campaign!
</p>

<p>In Solidarity,</p>
<p>The BernieBNB Team</p>
<br /><br />
The aforementioned links:
<ul>
  <li><a href="https://go.berniesanders.com/">Official Campaign Site</a></li>
  <li><a href="https://connect.berniesanders.com/">Bernie Connect</a></li>
  <li><a href="https://timcanova.com/">Tim Canova</a></li>
  <li>Consider supporting the state legislature candidates
    <a href="https://berniesanders.com/press-release/sanders-fundraises-statehouse-candidates/">
      endorsed by Bernie
    </a>
  </li>
</ul>
