<p>Hi <%= @user.first_name %>,</p>
<p>
  Many of your reached out to us yesterday with the question 'What about Philadelphia?' We were
  certainly remiss in not addressing the convention. In fact, part of our decision to close down
  the site was because of the disconnect in available hosts and supporters trying to get to the
  convention. The feeling was that we had very little potential to help supporters travelling to
  the convention and there was potential to harm people's chances of getting a place more than
  to help.
</p>

<p>
  BUT, your outreach was overwhelming and we've decided it would not be fair to leave at this
  point. We underestimated the affect that closing could have. BernieBNB will be staying online
  for the time being. That said, we have some important points for guests and hosts. Please
  take the following into consideration:
</p>

Guests:
<ul>
  <li>
    Be wary of any hosts trying to rent their homes. BernieBNB is meant to be a home
    <i>sharing</i> service, not for renting. If you would like to rent a place, we urge you
    to look to a service like AirBNB.
  </li>
  <li>
    There is roughly 1 host on BernieBNB to every 100 people travelling to Philly for the
    convention. Being on this site is far from a guarantee that you will find housing. While
    we are happy to offer another channel with this, we encourage you to use a service like
    <a href="https://www.couchsurfing.com">Couchsurfing</a> as well.
  </li>
  <li>
    If a host is not responding to your emails, chances are they've receive requests from many
    others. Ideally they would take down their post or reply to you, but we can't guarantee.
    We try to remove such hosts, but this does happen.
  </li>
</ul>

Hosts:
<ul>
  <li>
    First off, thank you so much for offering to help this movement. We need more like you.
    Please refer any friends or family who are sympathetic to the cause to this service. This
    service only works if we have both hosts and guests.
  </li>
  <li>
    If you are already booked, please sign in an mark your host offering as "Booked". After you
    sign in, you can click the button to your offering where there is a button to take your
    offering off the site.
  </li>
</ul>
<br /><br />
<p>
  We are happy to support through the convention; we apologize we did not offer a better
  explanation in the last email. However, we are grateful for the outpouring of messages and
  support we received. As many of you noted, this revolution is far from over and that kind
  of tenacity is exactly what we need. If you know anyone in Philadelphia who might want to
  offer their support during the convention, please let them know there are many dedicated
  people who want to come out for the convention and we need their help!
</p>

<p>Thank You,</p>
<p>The BernieBNB Team</p>

<br /><br />
<small>
  If you wish to stop receiving emails, you can delete your account here at any time:
  <%= link_to "Unsubscribe", edit_user_url(@user) %>
</small>
