.user-new-visit
  %div.group
    %a.home.btn.btn-info.btn-sm{href: user_url(current_user)} « Back
    =link_to("Sign Out", signout_url, method: :delete, class: "signout")
  %header
    %p.lead Travel

  = render "visit_form"
  = link_to "Delete", visit_path(@visit), method: "DELETE", class: "cancel"
