<div class="user-new-visit">
  <a class="home btn btn-info btn-sm" href="<%= user_url(current_user) %>"> << Back </a>
  <header>
    <p class="lead">Travel</p>
  </header>

  <%= render "visit_form" %>

  <%= link_to "Cancel", user_url(current_user), class: "cancel" %>
</div>
