.sign-in
  %header
    %h1 Bernie

  %section.instructions
    %h1 How Home Sharing Works
    %table.bump
      %tr
        %td
          %span.big-number 1
        %td
          Fill out a quick profile.
      %tr
        %td
          %span.big-number 2
        %td Send your contact info to other hosts and travelers.
      %tr
        %td
          %span.big-number 3
        %td Confirm with text messages / phone calls.
  %section.sign-up
    %h1 Sign In Using...
    = link_to "Facebook", "/auth/facebook"
    = link_to "Google", "/auth/google_oauth2"
