.sign-in
  %p.lead.text-center.bump
    %img{src: image_url('bernie-bnb-logo.png')}

  %section.instructions
    %p.lead.text-center How Home Sharing Works
    %table.bump
      %tr
        %td
          %span.big-number 1
        %td
          Fill out a quick profile.
      %tr
        %td
          %span.big-number 2
        %td Send your contact info to other hosts and travelers.
      %tr
        %td
          %span.big-number 3
        %td Confirm with text messages / phone calls.

  %hr.bump

  %section.sign-up.bump
    %p.lead.text-center Sign In Using...
    = link_to "Facebook", "/auth/facebook", {class: 'bump btn btn-success btn-block btn-lg'}
    = link_to "Google", "/auth/google_oauth2", {class: 'btn btn-danger btn-block btn-lg'}
