<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <header>
        <h1>Bernie BNB</h1>
    </header>
    
    <section class="instructions">
        <h1>How Home Sharing Works</h1>
        <table class="bump">
            <tr>
                <td><span class="big-number">1</span></td>
                <td>Fill out a quick profile</td>
            </tr>
            <tr>
                <td><span class="big-number">2</span></td>
                <td>Send your contact info to other hosts and travelers</td>
            </tr>
            <tr>
                <td><span class="big-number">3</span></td>
                <td>Confirm with text messages/ phone calls</td>
            </tr>
        </table>
    </section>
    <section class="sign-up">
        <h1>Sign In Using...</h1>
        <%= link_to "Facebook", user_omniauth_authorize_path(:facebook) %>
    </section>
</di>