.sign-in
  %p.lead.text-center.bump
    %img.img-logo{src: image_url('bernie-bnb-logo.png')}

  %section.instructions
    %p.lead.text-center An Important Message from BernieBNB
    %table.bump
      %tr
        %td
          With the primaries over, BernieBNB has fulfilled its purpose. We will be shutting down for this primary season in the next 24 hours.
          We are priviliged to have been a part of building this grassroots community, and as the movement pivots we remain supporters of the cause.
      %tr
        %td
          However, there is not much of a need for a home-sharing service at this time, so we will be devoting our energies to other efforts.
          Thank you all for your continued service to this campaign!
      %tr
        %td In solidarity,
      %tr
        %td The BernieBNB Team
  %hr.bump

  %section.sign-up.bump
    %p.lead.text-center Sign In Using...
    = link_to "Facebook", "/auth/facebook", {class: 'bump btn btn-success btn-block btn-lg'}
    = link_to "Google", "/auth/google_oauth2", {class: 'btn btn-danger btn-block btn-lg'}
