<ul id="faq">
  <li>
    <h3>What is BernieBNB?</h3>
    <blockquote>
      BernieBNB is a home sharing service for the grassroots wing of Bernie Sanders' election campaign, helping volunteers find free lodging while canvassing out-of-state.
    </blockquote>
  </li>

  <li>
    <h3>How does it work?</h3>
    <blockquote>
      Both hosts and guests sign up using their existing Facebook or Google account, then fill out a simple profile with their email address, first name, and phone number.
      <br/><br/>
      Hosts click on the "I CAN HOST" button, and register using their zip code, number of spaces, and a brief message about the nature of the accommodations you have to offer. They then wait for potential guests to contact them to request hosting. The new contacts will arrive once a day in an email digest with contact info for any guest that would like to stay with them.
      <br/><br/>
      Guests click on "FIND A HOST" and specify the zip code they are traveling to, along with the dates and total number of spaces requested. They will then be shown a list of potential hosts sorted by distance, and can choose to contact any of the hosts listed to request hosting. If there are no hosts available, the guest's search will be saved to make it easy to check back later.
      </blockquote>
  </li>
  <li>
    <h3>I contacted a host, what next?</h3>
    <blockquote>
      You can either wait for the host to respond to your request, or contact a different host to request hosting from multiple sources. If you're not in a hurry, please don't contact too many hosts until you're sure the ones you've contacted aren't going to respond.
    </blockquote>
  </li>
  <li>
    <h3>What is the vetting process for volunteers and hosts?</h3>
    <blockquote>
      BernieBNB is a good-faith service that connects volunteers and supporters. Anyone is free to join up, so we strongly advise you to connect with potential guests and/or hosts over social media. If you suspect another user is abusing the site, please contact us by email at berniebnbinfo@gmail.com
    </blockquote>
  <li>
    <h3>How many volunteers can I host?</h3>
    <blockquote>
      That's up to you! Your host profile will stay listed for as long as you like and, unless you specify days you don't want to be contacted, you'll always be listed as a potential host in your area. Whether you accept a given request or not is entirely up to you, as BernieBNB just helps guest volunteers find you.
    </blockquote>
  </li>
  <li>
    <h3>As a host, how can I stop receiving requests?</h3>
    <blockquote>
      In your host profile, there will be a way to set up "blackout dates" on which you will not be available for hosting. At this time, this is not implemented, but you can include that information in your message to visitors. You can also delete your host listing from your profile page.
    </blockquote>
  </li>
  <li>
    <h3>Can I use BernieBNB if I don't have a Facebook or Google account?</h3>
    <blockquote>
      Not at this time. By requiring signing up with Facebook or Google, we ensure the ability of hosts to verify the identity of guests on social media. We strongly encourage volunteers and hosts to connect over social media before reaching a hosting agreement.
    </blockquote>
  </li>
  <li>
    <h3>Who runs BernieBNB?</h3>
    <blockquote>
      A bunch of volunteer coders and activists from the "Coders For Sanders" group. We are a non-profit, unincorporated group of people just trying to do our part to help Bernie Sanders get elected, because we believe his platform to be the best vision for the American people.
    </blockquote>
  </li>
  <li>
    <h3>What is your privacy policy?</h3>
    <blockquote>
      <a href="https://github.com/SandersForPresident/BernieBNB/blob/master/doc/bernie-bnb-facebook-privacy-statement.txt" target="_new">You can read it here!</a>
    </blockquote>
  </li>
  <li>
    <h3>How can I report a bug or request a feature?</h3>
    <blockquote>
      Please report bugs and request features using <a href="https://github.com/SandersForPresident/BernieBNB/issues" target="_new">GitHub</a>.
    </blockquote>
  </li>
  <li>
    <h3>How can I get involved?</h3>
    <blockquote>
      BernieBNB has a channel (#bernie-bnb) on the Coders For Sanders slack, but we also have a <a href="http://berniebnb.slack.com/" target="_new">slack of our own</a> where we do most of our organizing. If you want to join our team, you can email us at berniebnbinfo@gmail.com to request an invite. Thanks for your interest!
    </blockquote>
  </li>
  <li>
    <h3>Is BernieBNB open source?</h3>
    <blockquote>
      Yes! BernieBNB is licenced under the GNU Affero GPL 3+ open source license. The source is available on <a href="https://github.com/SandersForPresident/BernieBNB" target="_new">GitHub</a>
    </blockquote>
  </li>
</ul>
