%h1 BBNB Stats

%h2 Users: ####
#alist
  %ol{:type => "circle"}
    - (1..3).each do |n|
      %li="#### City+State - Zip Code"+n.to_s 

%h2 Hosts: ####
#alist
  %ol{:type => "circle"}
    - (1..3).each do |n|
      %li="#### City+State - Zip Code"+n.to_s 

%h2 Contacts: ####
#alist
  %ol{:type => "circle"}
    - (1..3).each do |n|
      %li="#### City+State - Zip Code"+n.to_s 

%h2 Visits: ####
#alist
  %ol{:type => "circle"}
    - (1..3).each do |n|
      %li="#### City+State - Zip Code"+n.to_s 
 
%h2 LEGEND:
#alist
  %ol{:type => "circle"}
    %li
      The url will be http://www.berniebnb.com/stats and you must log in and set up profile before you use this page.
    %li
      The "####" above will turn into frequencies for the "City+State - Zip Code" combinations.
