<div class="user-new-hosting">
  <a class="home btn btn-info btn-sm" href="<%= user_url(current_user) %>"> << Back </a>
  <header>
    <p class="lead">Host</p>
  </header>

  <%= render "hosting_form" %>
  <%= link_to "Delete", hosting_path(@hosting), method: "delete", class: "cancel" %>
</div>
