.user-new-hosting
  %div.group
    =link_to("« Back", user_url(current_user), class: 'btn btn-info btn-sm left')
    =link_to("Sign Out", signout_url, method: :delete, class: "btn btn-info btn-sm right")
  %header
    %p.lead Host

  = render 'hosting_form'
  = link_to "I Am Booked", hosting_path(@hosting), method: :delete, class: 'btn btn-danger btn-block btn-lg'
