/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/accordion
 */

@import "font-awesome-sprockets";
@import "font-awesome";

/* RWB STYLES */

html, body {
  font-size: 19px;
}

ul {
  list-style: none;
  padding: 0;
}

small, .help-block {
  font-size: 16px;
}

.header {
  padding: 5px 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  small { font-size: 12px; }
  .btn { margin-right: 3px; }
}

.btn-info,
.btn-info:hover, .btn-info:active, .btn-info:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.btn-info:active.focus,
.btn-info.active.focus {
  background-color: #EFF3F7;
  color: #147fd7;
  border: none;
}

span.big-number {
  padding: 5px;
  background-color: #147FDF;
  color: white;
  padding: 10px 16px;
  border-radius: 50%;
}

section.instructions {
  clear: right;
  table { margin-top: 30px; }
  table td { padding: 5px 5px 20px; }
}

.lead {
  font-size: 24px;
  margin-bottom: 12px;
}

.form-group {
  margin-bottom: 31px;
}

.form-group.has-error .text-muted { color: #777; }

label {
  font-weight: normal;
}

ul.profile-results {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  > li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    > p { margin: 0; }
    div.contact-form {
      margin-top: 10px;
      padding: 10px 0;
      border-top: 1px solid #ccc;
      ul {
        margin: 9px 0;
      }
    }
  }
  > li:first-child { border-top: 1px solid #ccc; }
}

.bump {
  margin-top: 30px;
}

.half-bump {
  margin-top: 15px;
}

hr {
  border: 0;
  border-bottom: 1px solid #ccc;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);

.right {
  float: right;
}

.left {
  float: left;
}

.hide {
  display: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}







 /* OLD STYLES

 $orange: #F44343;
 $lightorange: #F55B5B;
 $blue: #147FD7;
 $lightblue: #8ABFEB;
 $green: #4ACC66;
 $darkgreen: #32b14d;
 $lightgreen: #30DF76;
 $lightgray: #EFF3F7;
 $gray: #CFCFCF;
 $darkgray: #8A8A8A;

 .button-special {
   display: block;
   box-sizing: border-box;
   margin: 1rem auto;
   background-color: $lightorange;
   color: white;
   height: 42px;
   font-size: 18px;
   font-family: "Lato";
   font-weight: 600;
   letter-spacing: 0.15em;
   text-decoration: none;
   border: none;
   width: 100%;
   border-radius: 3px;
   max-width: 300px;
   padding-top: 10px;
   text-align: center;
   text-transform: uppercase;
 }

 @font-face {
  font-family: 'freightsans';
  src: url(font-path('freightsans_bold-webfont.eot'));
  src: url(font-path('freightsans_bold-webfont.eot?#iefix')) format('embedded-opentype'),
    url(font-path('freightsans_bold-webfont.woff2')) format('woff2'),
    url(font-path('freightsans_bold-webfont.woff')) format('woff'),
    url(font-path('freightsans_bold-webfont.ttf')) format('truetype'),
    url(font-path('freightsans_bold-webfont.svg#freightsans_boldregular')) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'freightsans';
  src: url(font-path('freightsans_medium-webfont.eot'));
  src: url(font-path('freightsans_medium-webfont.eot?#iefix')) format('embedded-opentype'),
    url(font-path('freightsans_medium-webfont.woff2')) format('woff2'),
    url(font-path('freightsans_medium-webfont.woff')) format('woff'),
    url(font-path('freightsans_medium-webfont.ttf')) format('truetype'),
    url(font-path('freightsans_medium-webfont.svg#freightsans_mediumregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jubilat';
  src: url(font-path('jubilatmedium-roman-webfont.eot'));
  src: url(font-path('jubilatmedium-roman-webfont.eot?#iefix')) format('embedded-opentype'),
    url(font-path('jubilatmedium-roman-webfont.woff2')) format('woff2'),
    url(font-path('jubilatmedium-roman-webfont.woff')) format('woff'),
    url(font-path('jubilatmedium-roman-webfont.ttf')) format('truetype'),
    url(font-path('jubilatmedium-roman-webfont.svg#jubilat_mediumregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

div {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

p.lead {
  text-align: center;
  font-size: 2em;
  margin: 1.8rem auto;
}

a.home {
  background-color: $lightgray;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue;
  padding: 5px 10px;
  border-radius: 0.8;
  float: left;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 3px;
  white-space: nowrap;
  vertical-align: middle;

  &:hover {
    box-shadow: 1px 1px 1px $gray;
  }
}

a.signout {
  background-color: $lightgray;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue;
  padding: 5px 10px;
  border-radius: 0.8;
  font-size: 12px;
  float: right;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 3px;
  white-space: nowrap;
  vertical-align: middle;

  &:hover {
    box-shadow: 1px 1px 1px $gray;
  }
}

form:not(.button_to) {
  label {
    font-size: 1.5em;
    margin-bottom: 0.3rem;
    display: block;
  }

  input, select {
    font-size: 1.3em;
    width: 94%;
    height: 37px;
    border: 1px solid black;
    padding-left: 1rem;
    margin-bottom: 0.3rem;

    &:hover {
      box-shadow: 1px 1px 1px $gray;
    }
  }

  select {
    width: 100%;
    background-color: white;
  }

  input.submit {
    @extend .button-special;
    background-color: $green;
    border: 1px solid #38c556;

    &:hover {
      cursor: pointer;
      background-color: $darkgreen;
    }
  }

  span {
    display: block;
    margin-bottom: 1.8rem;
    color: $darkgray;
  }

  span.hosting {
    margin-bottom: 2.8rem;
  }
} */
