/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/accordion
 */

 $orange: #F44343;
 $lightorange: #F55B5B;
 $blue: #147FD7;
 $lightblue: #8ABFEB;
 $green: #4ACC66;
 $lightgreen: #30DF76;
 $lightgray: #F1F1F1;
 $gray: #CFCFCF;
 $darkgray: #8A8A8A;

 .button-special {
   display: block;
   box-sizing: border-box;
   margin: 1rem auto;
   background-color: $orange;
   color: white;
   height: 42px;
   font-size: 1.2em;
   font-family: freightsans;
   font-weight: 700;
   letter-spacing: 0.15em;
   text-decoration: none;
   border: none;
   width: 100%;
   max-width: 300px;
   padding-top: 10px;
   text-align: center;
   text-transform: uppercase;
 }

 @font-face {
  font-family: 'freightsans';
  src: url(font-path('freightsans_bold-webfont.eot'));
  src: url(font-path('freightsans_bold-webfont.eot?#iefix')) format('embedded-opentype'),
    url(font-path('freightsans_bold-webfont.woff2')) format('woff2'),
    url(font-path('freightsans_bold-webfont.woff')) format('woff'),
    url(font-path('freightsans_bold-webfont.ttf')) format('truetype'),
    url(font-path('freightsans_bold-webfont.svg#freightsans_boldregular')) format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'freightsans';
  src: url(font-path('freightsans_medium-webfont.eot'));
  src: url(font-path('freightsans_medium-webfont.eot?#iefix')) format('embedded-opentype'),
    url(font-path('freightsans_medium-webfont.woff2')) format('woff2'),
    url(font-path('freightsans_medium-webfont.woff')) format('woff'),
    url(font-path('freightsans_medium-webfont.ttf')) format('truetype'),
    url(font-path('freightsans_medium-webfont.svg#freightsans_mediumregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jubilat';
  src: url(font-path('jubilatmedium-roman-webfont.eot'));
  src: url(font-path('jubilatmedium-roman-webfont.eot?#iefix')) format('embedded-opentype'),
    url(font-path('jubilatmedium-roman-webfont.woff2')) format('woff2'),
    url(font-path('jubilatmedium-roman-webfont.woff')) format('woff'),
    url(font-path('jubilatmedium-roman-webfont.ttf')) format('truetype'),
    url(font-path('jubilatmedium-roman-webfont.svg#jubilat_mediumregular')) format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

div {
  width: 100%;
  max-width: 300px;
  margin: auto;
}

p.lead {
  text-align: center;
  font-size: 2em;
  margin: 1.8rem auto;
}

a.home {
  background-color: $lightgray;
  text-transform: uppercase;
  text-decoration: none;
  color: $blue;
  padding: 0.4rem 0.4rem;
  border-radius: 0.8;

  &:hover {
    box-shadow: 1px 1px 1px $gray;
  }
}

form:not(.button_to) {
  label {
    font-size: 1.5em;
    margin-bottom: 0.3rem;
    display: block;
  }

  input, select {
    font-size: 1.3em;
    width: 94%;
    height: 37px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 1rem;
    margin-bottom: 0.3rem;

    &:hover {
      box-shadow: 1px 1px 1px $gray;
    }
  }

  select {
    width: 100%;
    background-color: white;
  }

  input.submit {
    @extend .button-special;
    background-color: $green;

    &:hover {
      cursor: pointer;
      background-color: $lightgreen;
    }
  }

  span {
    display: block;
    margin-bottom: 1.8rem;
    color: $darkgray;
  }

  span.hosting {
    margin-bottom: 2.8rem;
  }
}
