$orange: #EA504E;
$lightorange: #F55B5B;
$blue: #147FD7;
$lightblue: #8ABFEB;
$green: #20c361;
$lightgreen: #30DF76;
$lightgray: #F1F1F1;
$gray: #CFCFCF;
$darkgray: #8A8A8A;

html {
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

div.sign-in  {
  width: 100%;
  margin: auto;
  text-align: center;

  h1 {
    font-weight: normal;
    letter-spacing: 0.1rem;
  }

  section.instructions {
    border-bottom: 1px solid $gray;
    max-width: 600px;
    width: 95%;
    padding-bottom: 1em;
    margin: auto;

    table.bump {
      margin: auto;
      text-align: left;

      tr {
        height: 3em;
        font-size: 1.5em;
      }

      td {
        padding: 5px 5px 20px;
      }

      span.big-number {
        color: white;
        background-color: $blue;
        border-radius: 50%;
        font-family: "Lato",Helvetica,Arial,sans-serif;
        color: white;
        padding: 10px 16px;
        border-radius: 50%;
        font-size: 19px;
      }
    }
  }
  section.sign-up {

      h1 {
        margin: 1.5rem auto;
      }

      a {
        display: block;
        box-sizing: border-box;
        margin: 1rem auto;
        background-color: $orange;
        color: white;
        height: 42px;
        font-size: 1.2em;
        font-family: freightsans;
        font-weight: 700;
        letter-spacing: 0.15em;
        text-decoration: none;
        border-radius: 3px;
        border: none;
        width: 100%;
        max-width: 300px;
        padding-top: 10px;
        text-align: center;
        text-transform: uppercase;

        &:hover {
          cursor: pointer;
          background-color: $lightorange;
        }
      }
    }

    hr {
      width: 95%;
      max-width: 600px;
      border-color: $lightgray;
    }
}

div.profile-page {
  width: 100%;
  max-width: 300px;
  margin: auto;

  a.home {
    background-color: $lightgray;
    text-transform: uppercase;
    text-decoration: none;
    color: $blue;
    padding: 0.4rem 0.4rem;
    border-radius: 0.8;

    &:hover {
      box-shadow: 1px 1px 1px $gray;
    }
  }

  p.lead {
    text-align: center;
    font-size: 2em;
    margin: 1.8rem auto;
  }

  form.edit_user {
    label {
      font-size: 1.5em;
      margin-bottom: 0.3rem;
      display: block;
    }

    input {
      font-size: 1.3em;
      width: 94%;
      height: 37px;
      border-radius: 3px;
      border: 1px solid black;
      padding-left: 1rem;
      margin-bottom: 0.3rem;

      &:hover {
        box-shadow: 1px 1px 1px $gray;
      }
    }

    input.submit {
      display: block;
      box-sizing: border-box;
      margin: 1rem auto;
      background-color: $green;
      color: white;
      height: 42px;
      font-size: 1.2em;
      font-family: freightsans;
      font-weight: 700;
      letter-spacing: 0.15em;
      text-decoration: none;
      border-radius: 3px;
      border: none;
      width: 100%;
      max-width: 300px;
      padding-top: 10px;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        background-color: $lightgreen;
      }
    }

    span {
      display: block;
      margin-bottom: 1.8rem;
      color: $darkgray;
    }
  }
}
