#users {

  section .small-details {
    color: lighten(#333, 50%);
    font-size: .8em;
    margin-top: .3em;
  }

}

div.user-home {

  header.heading {
    margin-bottom: 50px;
  }

  section.user-hostings,
  footer {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ccc;
  }

  .btn {
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 20px;
    text-align: center;
  }

  span {
    text-align: center;
    display: block;
    margin-bottom: 1.8rem;
  }

}

div.profile-page {
  .btn {
    margin-bottom: 20px;
  }

  .form-fields {
    margin-bottom: 60px;
  }

  .btn-warning {
    margin-top: 70px;
  }

  span {
    font-size: 18px;
    color: gray;
  }

}
