#visits {
  @import 'lib/datepicker';
}

.user-new-visit {
  p {
    text-align: center;
  }

  span {
    color: gray;
  }

  .btn {
    margin-top: 20px;
  }

  .form-fields {
    margin-bottom: 60px;
  }
}

.available-hosts {

  h2 {
    margin-top: 0;
  }

  header {
    border-bottom: 1px solid gray;
    text-align: center;
    padding-bottom: 30px;
  }

  header.empty {
    border-bottom: 0px;
    width: 350px;
    margin: 0 auto;

    h1 {
      margin: 75px 0 50px 0;
      font-size: 50px;
      font-weight: 300;
    }

  }

  footer {
    a {
      max-width: 250px;
      letter-spacing: 1px;
      font-weight: 700;
      border-width: 2px;
      margin-bottom: 10px;
    }
  }

}
