<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to www.berniebnb.com</h1>
    <p>You have successfully signed up to www.berniebnb.com.</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
